{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
  </div>
{% endblock %} 

{% block content %}
  <div class="overlay"></div>
  <div class="container-fluid text-black">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Forum</h2>
            <hr class="w-50 m-auto mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-8 offset-2">
            <div class="row mt-1 mb-2">
                <div class="dropdown text-end">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a rel="next" href="{% url 'forum' %}?forumpostcategory=new_releases" class="dropdown-item">New releases</a></li>
                      <li><a rel="next" href="{% url 'forum' %}?forumpostcategory=new_on_sale" class="dropdown-item">New on sale</a></li>
                      <li><a rel="next" href="{% url 'forum' %}?forumpostcategory=general_news" class="dropdown-item">General news</a></li>
                    </ul>
                </div>
                <div class="p-0">
                  {% for post in posts %}
                    <div class="forum-post rounded-3 my-2 pb-0 pt-3">
                        <h3 class="forumpost-heading text-center"><strong>{{ post.slug }}</strong></h3>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-8">
                                {% if post.short %}
                                    <p class="short fs-4">{{ post.short }}</p>
                                {% endif %} 
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 text-end">
                                {% if post.image %}
                                    {% if post.image.url %}
                                        <img class="forumpost-image" src="{{ post.image.url }}" alt="{{ post.get_img_alt_value }}">
                                    {% else %}
                                        <img class="forumpost-image" src="{{ post.image }}" alt="{{ post.get_img_alt_value }}">
                                    {% endif %}
                                {% else %}
                                    <img class="forumpost-image w-50" src="{{ MEDIA_URL }}noimage.png" alt="noimage">
                                {% endif %}
                            </div>
                            <div class="col-12 text-end">
                                <a rel="next" href="{% url 'single_post' post.id %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="text-uppercase">Read more</span>
                                </a>
                            </div>
                            <p class="text-muted">{{ post.created_on }}</p>
                        </div>                        
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div> 
{% endblock %}
