{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
  </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class=" col-6 container mb-5 d-flex flex-column">
                <h2 class="text-center text-uppercase mt-4">About Us</h2>
                <hr class="border border-dark border-3">
                <br>
                <section>
                    <h3 class="text-center mt-4">What matters to us</h3>
                    <p>
                        We have contracts with preselected, certified producers who produce in an 
                        environmentally friendly manner and treat their employees according to 
                        standards. These requirements are checked regularly. Bringing high quality 
                        products to our customers combined with new environmental standards is what
                        matters to us.
                    </p>
                </section>
                <section>
                    <h3 class="text-center mt-4">Shipping & Pick up information</h3>
                    <p>
                        All orders received before 4 pm will be sent the same day from our 
                        distribution center. At the moment we are going to set up a pickup location 
                        at the distribution center. As soon as you can come and pick up your orders, 
                        we are going to make an announcement at the website and add our opening hours
                        here at the About Us page.
                    </p>
                </section>
                <section>
                    <h3 class="text-center mt-4">Contact For Customers</h3>
                    <p>
                        If you have any issues with our products please feel free to contact us.
                        The same goes for any questions left before you want to make a purchase.
                        <br>
                        <i class="fa-solid fa-envelope"></i>mybag@mybag.com
                        <br>
                        <i class="fa-solid fa-phone"></i>3256-7128349
                    </p>
                </section>
                <section>
                    <h3 class="text-center mt-4">Potential or existing contractors</h3>
                    <p>
                        All existing contractors please use the contact details which we have 
                        given you. If they are lost, please contact us here:
                        <br>
                        <i class="fa-solid fa-phone"></i>72834-134890
                        <br>
                        If you want to get in contact with us with the intent of a partnership 
                        or an offering, please use these contact information:
                        <br>
                        <i class="fa-solid fa-envelope"></i>new@mybag.com
                    </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
