<!DOCTYPE html>
<html>
<title>404 ERROR - Wrong address</title>
<style>
    .h1, h2 {
        font-size: xx-large;
    }
    .center {
        margin: 25%;
        width: 50%;
     }
    .container-a {
        background-color:rgb(202, 74, 51);
        border: solid, black, 2px;
        text-align: center;
    }
    a {
        font-size: 100px;
        text-decoration: none;
        font-weight: bold;
    }
</style>
<body>
    <div class="center">
        <h2>Ooops!</h2>
        <h2>This file does not exist. Please return to 
        the main page.
        </h2>
        <br>
        <div class="container-a">
        <a aria-current="page" href="{% url 'home' %}">Home</a>
        </div>
    </div>
</body>
</html> 
