{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags-->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Welcome to MyBag - the homepage for all bag enthusiasts and for 
            people who just need a quality and durable bag that can take a beating">
        <meta name="keywords"
            content="bag for daily use, bag for daily use for men, bag for daily use 
            for women, bag for daily use for children, everyday bag, leather business 
            bag, durable sport bag, gym bag, bag as stylish gift, bag as useful gift, 
            bagpack, bagpack for children, bagpack for daily use for men, bagpack for 
            daily use for women, everyday backpack, backpack as stylish gift, backpack 
            for school girl, backpack for school boy">
    {% endblock %}

    <!-- Custom Meta -->
    {% block extra_meta %}
    {% endblock %} 

    <!-- Bootstrap link (CSS)-->
    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- Custom CSS -->
    {% block extra_css %}
    {% endblock %} 

    <!-- Custom JS -->
    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% endblock %} 

    <!-- Title -->
    <title>My Bag {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Header section -->
    <header class="container-fluid fixed-top">
      <div id="topnav tn" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 py-1 py-lg-0 d-flex justify-content-start">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for product">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 py-1 py-lg-0 text-lg-left text-center d-flex justify-content-center">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0"><strong>MyBag</strong></h2>
            </a>
        </div>
        <div class="col-12 col-lg-4 py-1 py-lg-0 d-flex  justify-content-end">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                                <a href="" class="dropdown-item">Category Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_shoppingcart' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                {% else %}
                                    €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
      </div>
      <div class="row bg-light text-center">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>        
      </div>
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %} 

    <!-- Main section -->
    {% block content %}
    {% endblock %} 

    <!-- Footer section -->
    <footer class="footer-container">
      <div class="container">
        <section class="footer">
            <div class="row">
            <div class="col-12 page-header mb-4">
                <h4 class="text-uppercase text-center">Stay in touch:</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
            <h5>Social</h5>
            <p>Keep up to date with all our latest offers and follow us: <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferre"><i class="fab fa-facebook-square"></i></a></p>
            </div>
            <div class="col-12 col-md-6">
            <h4>Newsletter subscription!</h4>
            <p>Get exclusive offers and discount codes</p>
            <!-- Mailchimp signup form here -->
            </div>
        </div>
        </section>
      </div>
    </footer>

    {% block postloadjs %}
    {% endblock %} 
  
  <!-- Bootstrap link (JS)-->
  {% block corejs %}
    <script src="https://kit.fontawesome.com/b5633ebce6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  {% endblock %}
  </body>
</html>
